body {
    letter-spacing: -0.025em;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

button {
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

/*========== 헤더 ==========*/
header {
    width: 100%;
    height: 117px;
    border-bottom: 1px solid #8a8a8a;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.manu ul {
    text-align: center;
}

.manu li {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    line-height: 117px;
    letter-spacing: -0.5px;
}

.manu ul::after {
    display: block;
    content: "";
    clear: both;
}

/*========== 섹션1 ==========*/

.section1 {
    width: 100%;
    height: 929px;
    box-sizing: border-box;
    padding-top: 179px;
    box-sizing: border-box;
    background-image: url(../imgs/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section1 .wrapper {
    text-align: center;
}

.section1 .logo {
    width: 413px;
    height: 110px;
    display: inline-block;
    margin-bottom: 35px;
}

.section1 .logo img {
    width: 100%;
}

.title_wrap h2 {
    font-size: 28px;
    font-weight: normal;
    color: #f3f3f3;
    margin-bottom: 48px;
    letter-spacing: -0.7px;
}

.button_wrap button {
    width: 228px;
    height: 60px;
    border-radius: 5px;
    background-color: #e4793a;
}

.button_wrap button p {
    font-size: 23px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: -0.58px;
}

/*========== 섹션2 ==========*/

.section2 {
    height: 1562px;
    background-color: #191919;
    padding-top: 169px;
    box-sizing: border-box;
}

.section2 .title_warp {
    text-align: center;
    margin-bottom: 84px;
}

.section2 .sub_title {
    border: 1px solid #e4793a;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 15px;
}

.section2 .sub_title h3 {
    font-size: 18px;
    font-weight: 300;
    color: #e4793a;
    padding: 12px 25px;
    letter-spacing: -0.45px;
}

.section2 .title img {
    width: 379px;
}

.section2 .contents1 {
    height: 595px;
    border-bottom: 1px solid #5d5d5d;
    box-sizing: border-box;
}

.section2 .contents1_left {
    width: 600px;
    float: left;
}

.section2 .contents1_left {
    padding-top: 150px;
}

.section2 .contents1_left .contents1_subTitle {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 29px;
    letter-spacing: -0.63px;
}

.section2 .contents1_left .contents1_title {
    display: inline-block;
    margin-bottom: 70px;
}

.section2 .contents1_left .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #ffffff;
}

.section2 .contents1_right {
    width: 570px;
    height: 490px;
    background-image: url(../imgs/section2_img.png);
    background-position: center center;
    border-image-repeat: repeat;
    background-size: cover;
    float: right;
}

.section2 .contents2 {
    padding-top: 118px;
}

.section2 .contents2 .contents2_left {
    width: 404px;
    float: left;
}

.section2 .contents2 .contents2_left img {
    width: 280px;
}

.section2 .contents2 .contents2_right {
    width: 766px;
    float: right;
}

.section2 .contents2_title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: -0.75px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 52px;
}

.section2 .contents2_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -1px;
    text-align: left;
    color: #ffffff;
}

.section2 .contents2::after {
    display: block;
    content: "";
    clear: both;
}

/*========== 섹션3 ==========*/

.section3 {
    height: 869px;
}

.section3 .naverTv_wrap {
    padding-top: 183px;
}

.section3 .naverTv_left {
    float: left;
    width: 398px;
}

.section3 .naverTv_logo {
    margin-bottom: 29px;
}

.section3 .naverTv_title {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: -0.88px;
    color: #171616;
}

.section3 .naverTv_title span {
    font-weight: 500;
}

.section3 .naverTv_right {
    float: left;
    width: 772px;
}

.section3 .naverTv_subTitle {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.61;
    letter-spacing: -0.7px;
    color: #171616;
    padding-bottom: 44px;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 40px;
}

.section3 .naverTv_notice {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.96;
    letter-spacing: -1.15px;
    color: #525252;
    margin-bottom: 30px;
}

.section3 .naverTv_input {
    width: 511px;
    height: 79px;
    padding: 0 22px;
    line-height: 79px;
    border: solid 3px #e4793a;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #868686;
    margin-right: 20px;
    box-sizing: border-box;
    float: left;
}

.section3 .naverTv_submit {
    width: 238px;
    height: 79px;
    line-height: 79px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: #e4793a;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: -0.63px;
    color: #ffffff;
    margin-bottom: 23px;
}

.section3 .naverTv_personalInfo {
    position: relative;
    padding-left: 34px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #757575;
}

.section3 .naverTv_personalInfo input {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    width: 1px;
    height: 1px;
}

.section3 .naverTv_personalInfo::before {
    background-image: url(../imgs/check_off.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 26px;
    height: 26px;
    content: '';
    display: block;
    clear: both;
    position: absolute;
    z-index: 1;
}

.section3 .naverTv_personalInfo::after {
    content: "";
    display: block;
    clear: both;
    width: 140px;
    height: 1px;
    background-color: #757575;
    position: absolute;
    right: 1px;
    bottom: 0;
    z-index: 1;
}

.section3 .naverTv_right::after {
    content: "";
    display: block;
    clear: both;
    margin-top: 36px;
    width: 100%;
    height: 149px;
    background-image: url(../imgs/starbucks_event.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========== 섹션4 ==========*/

.section4 {
    height: 3055px;
    background-color: #020100;
    padding-top: 164px;
}

.section4 .title_wrap {
    text-align: center;
}

.section4 .title_wrap .sub_title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin-bottom: 35px;
}

.section4 .title_wrap .title {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -1.25px;
    color: #e4793a;
    margin-bottom: 41px;
}

.section4 .title_wrap .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin-bottom: 82px;
}

.section4 .contents_wrap {
    margin-bottom: 145px;
}

.section4 .contents1,
.section4 .contents2 {
    width: 570px;
    height: 897px;
    float: left;
}

.section4 .contents1 {
    margin-right: 28px;
    background-image: url(../imgs/cast1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 .contents2_first,
.section4 .contents2_second {
    height: 434px;
}

.section4 .contents2_first {
    margin-bottom: 30px;
    background-image: url(../imgs/cast2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 .contents2_second {
    background-image: url(../imgs/cast3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 .contents_wrap::after {
    content: "";
    display: block;
    clear: both;
}

.section4 .schedule_wrap {
    margin-bottom: 274px;
}

.section4 .schedule_wrap dl {
    font-size: 0;
    margin-bottom: 48px;
}

.section4 .schedule_wrap dl:last-of-type {
    margin-bottom: 227px;
}

.section4 .schedule_wrap dt {
    display: inline-block;
    color: #e4793a;
    font-size: 30px;
    font-weight: 300;
    margin-right: 89px;
    line-height: 1.5;
    float: left;
}

.section4 .schedule_wrap dd {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.025em;
    color: #ffffff;
    float: left;
}

.section4 .schedule_wrap dd span {
    font-weight: 300;
}

.section4 .schedule_wrap dl:last-child dt {
    letter-spacing: -0.02em;
}

.section4 .schedule_wrap dl::after {
    content: "";
    display: block;
    clear: both;
}

.section4 .schedule_wrap li {
    width: 570px;
    float: left;
}

.section4 .schedule_wrap li:first-of-type {
    margin-right: 30px;
}

.section4 .schedule_wrap .sub_title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #ffffff;
    text-align: left;
}

.section4 .schedule_wrap .title {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #e4793a;
    text-align: left;
    margin-bottom: 30px;
}

.section4 .schedule_wrap .title_wrap {
    border-bottom: 1px solid #717171;
}

.section4 .playlist_wrap {
    padding: 30px 0;
    height: 221px;
    box-sizing: border-box;
    border-bottom: 1px solid #717171;
    margin-bottom: 32px;
}

.section4 .playlist_wrap p {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.section4 .playlist_wrap p span {
    font-weight: 500;
}

.section4 .schedule_wrap .text {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.83;
    letter-spacing: -0.025em;
    color: #a6a6a6;
}

.section4 .schedule_wrap ul::after {
    content: "";
    display: block;
    clear: both;
}

.section4 .ticket_wrap .ticket {
    display: table;
    height: 90px;
    margin: 0 auto;
}

.section4 .ticket_wrap img {
    margin-right: 40px;
}

.section4 .ticket_wrap h2 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: normal;
    color: #ffffff;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-right: 78px;
}

.section4 .ticket_wrap button {
    width: 318px;
    height: 90px;
    border: 0;
    border-radius: 5px;
    background-color: #e4793a;
    display: table-cell;
    vertical-align: text-bottom;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: -0.025em;
    color: #ffffff;
}

/*========== 섹션5 ==========*/

.section5 {
    padding-top: 153px;
    height: 1124px;
}

.section5 .title_wrap {
    text-align: center;
    margin-bottom: 86px;
}

.section5 .sub_title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #9b9b9b;
    margin-bottom: 30px;
}

.section5 .title {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #e4793a;
}

.section5 .video_wrap {
    text-align: center;
}
