* {
    font-family: 'Noto Sans Korean', sans-serif;
    letter-spacing: -0.025em;
}

button {
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    min-width: 1280px;
    overflow: hidden;
}

html body .common_sub_title {
    font-size: 20px;
    font-weight: 500;
}

html body .common_title {
    font-size: 50px;
    font-weight: 500;
}

/*========== 헤더 ==========*/
header {
    width: 100%;
    height: 117px;
    border-bottom: 1px solid #8a8a8a;
    background: #020100;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.manu ul {
    text-align: center;
}

.manu li {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    padding: 0 30px;
    display: inline-block;
    line-height: 117px;
}

.manu ul::after {
    display: block;
    content: "";
    clear: both;
}

.event_btn {
    position: fixed;
    top: 695px;
    right: 110px;
    z-index: 999;
    width: 172px;
    height: 172px;
    border-radius: 50%;
    background-color: #e4793a;
}

.event_btn p {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #ffffff;
}

.event_btn p:first-of-type::after {
    content: "";
    display: block;
    margin: 11px auto 15px auto;
    clear: both;
    width: 56px;
    height: 1px;
    background-color: #fff;
}

/*========== 섹션1 banner ==========*/

.banner {
    width: 100%;
    height: 929px;
    box-sizing: border-box;
    padding-top: 179px;
    box-sizing: border-box;
    background-image: url(../imgs/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner .wrapper {
    text-align: center;
}

.banner .logo {
    width: 413px;
    height: 110px;
    display: inline-block;
    margin-bottom: 35px;
}

.banner .logo img {
    width: 100%;
}

.title_wrap h2 {
    font-size: 28px;
    font-weight: normal;
    color: #f3f3f3;
    margin-bottom: 40px;
}

.button_wrap button {
    width: 228px;
    height: 60px;
    border-radius: 5px;
    background-color: #e4793a;
}

.button_wrap button p {
    font-size: 23px;
    font-weight: normal;
    color: #ffffff;
}

/*========== 섹션2  hanwha classic 2020 ==========*/

.hanwha_classic_2020 {
    background-color: #191919;
    padding: 169px 0 157px 0;
    box-sizing: border-box;
}

.hanwha_classic_2020 .title_warp {
    text-align: center;
    margin-bottom: 84px;
}

.hanwha_classic_2020 .sub_title {
    border: 1px solid #e4793a;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 15px;
}

.hanwha_classic_2020 .sub_title h3 {
    font-size: 18px;
    font-weight: 300;
    color: #e4793a;
    padding: 12px 25px;
}

.hanwha_classic_2020 .title img {
    width: 379px;
}

.hanwha_classic_2020 .contents1 {
    border-bottom: 1px solid #5d5d5d;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 102px 600px;
}

.hanwha_classic_2020 .contents1_left {
    width: 600px;
    left: 0;
    bottom: 125px;
    position: absolute;
}

.hanwha_classic_2020 .contents1_left .contents1_subTitle {
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 29px;
}

.hanwha_classic_2020 .contents1_left .contents1_title {
    display: inline-block;
    margin-bottom: 70px;
}

.hanwha_classic_2020 .contents1_left .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    color: #ffffff;
}

.hanwha_classic_2020 .contents1_right {
    width: 570px;
    height: 490px;
    background-image: url(../imgs/section2_img.png);
    background-position: center center;
    border-image-repeat: repeat;
    background-size: cover;
}

.hanwha_classic_2020 .contents2 {
    padding-top: 118px;
}

.hanwha_classic_2020 .contents2 .contents2_left {
    width: 404px;
    float: left;
}

.hanwha_classic_2020 .contents2 .contents2_left img {
    width: 280px;
}

.hanwha_classic_2020 .contents2 .contents2_right {
    width: 766px;
    float: right;
}

.hanwha_classic_2020 .contents2_title {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.67;
    text-align: left;
    color: #ffffff;
    margin-bottom: 52px;
}

.hanwha_classic_2020 .contents2_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -0.05em;
    word-break: keep-all;
    text-align: left;
    color: #ffffff;
}

.hanwha_classic_2020 .contents2::after {
    display: block;
    content: "";
    clear: both;
}

/*========== 섹션3 naver_wrap ==========*/

.naver_wrap {
    padding: 183px 0 190px 0;
    box-sizing: border-box;
}

.naver_wrap .naver_title_wrap {
    float: left;
    width: 398px;
}

.naver_wrap .naver_logo {
    margin-bottom: 29px;
}

.naver_wrap .naver_title {
    font-size: 35px;
    font-weight: 300;
    line-height: 1.29;
    color: #171616;
}

.naver_wrap .naver_title span {
    font-weight: 500;
}

.naver_wrap .naver_contents {
    float: left;
    width: 772px;
}

.naver_wrap .naver_sub_title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.61;
    color: #171616;
    padding-bottom: 44px;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 40px;
}

.naver_wrap .naver_notice {
    font-size: 23px;
    font-weight: 300;
    color: #525252;
    margin-bottom: 30px;
    letter-spacing: -0.05em;
}

.naver_wrap .naver_input {
    width: 511px;
    height: 79px;
    padding: 0 22px;
    line-height: 79px;
    border: solid 3px #e4793a;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    color: #868686;
    margin-right: 20px;
    box-sizing: border-box;
    float: left;
}

.naver_wrap .naver_submit {
    width: 238px;
    height: 79px;
    line-height: 79px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background-color: #e4793a;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 23px;
    cursor: pointer;
}

.naver_wrap .naver_personal_info_label {
    position: relative;
    padding-left: 34px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 300;
    color: #757575;
    user-select: none;
    cursor: pointer;
}

.naver_wrap .chk-trigger {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    width: 1px;
    height: 1px;
}

.naver_wrap .naver_contents .input_chk label::before {
    background-image: url(../imgs/check_off.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 26px;
    height: 26px;
    content: '';
    display: block;
    clear: both;
    position: absolute;
    z-index: 1;
}

.naver_wrap .naver_contents .input_chk input:checked+label::before {
    background-image: url(../imgs/check_on.png);
    content: '';
    width: 26px;
    height: 26px;
}

.naver_wrap .naver_personal_info_label::after {
    content: "";
    display: block;
    clear: both;
    width: 140px;
    height: 1px;
    background-color: #757575;
    position: absolute;
    right: 1px;
    bottom: 0;
    z-index: 1;
}

.naver_personal_info_alert {
    margin-left: 8px;
    color: red;
    display: none;
}

.naver_wrap .naver_contents::after {
    content: "";
    display: block;
    clear: both;
    margin-top: 36px;
    width: 100%;
    height: 149px;
    background-image: url(../imgs/starbucks_event.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.naver_wrap .inner::after {
    content: "";
    display: block;
    clear: both;
}

/*========== 섹션4 program_guide ==========*/

.program_guide {
    background-color: #020100;
    padding: 164px 0 250px 0;
    box-sizing: border-box;
}

.program_guide .title_wrap {
    text-align: center;
}

.program_guide .title_wrap .sub_title {
    color: #ffffff;
    margin-bottom: 35px;
}

.program_guide .title_wrap .title {
    color: #e4793a;
}

.program_guide .title_wrap .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    color: #ffffff;
    margin-bottom: 82px;
}

.program_guide .contents_wrap {
    margin-bottom: 145px;
}

.program_guide .contents1,
.program_guide .contents2 {
    width: 570px;
    height: 897px;
    float: left;
}

.program_guide .contents1 {
    margin-right: 28px;
    background-image: url(../imgs/cast1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

.program_guide .program_guide_content {
    position: relative;
}

.program_guide .program_guide_content:hover:after {
    opacity: 1;
}

.contents_wrap .program_guide_content .text_wrap {
    opacity: 0;
    transition: all 0.1s ease;
}

.contents_wrap .program_guide_content:hover .text_wrap {
    opacity: 1;
}

.program_guide .program_guide_content:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.1s ease;
}

.program_guide .contents2_first,
.program_guide .contents2_second {
    height: 434px;
}

.contents_wrap .program_guide_content .text_wrap {
    position: absolute;
    bottom: 106px;
    left: 50%;
    transform: translateX(-50%);
    width: 520px;
    z-index: 100;
}

.contents_wrap .text_wrap.active {
    display: block;
}

.contents_wrap .text_wrap .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.38;
    color: #ffffff;
    margin-bottom: 44px;
}

.contents_wrap .text_wrap .text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.65;
    text-align: left;
    color: #ffffff;
}

.program_guide .contents2_first {
    margin-bottom: 30px;
    background-image: url(../imgs/cast2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.program_guide .contents2_second {
    background-image: url(../imgs/cast3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.program_guide .contents_wrap::after {
    content: "";
    display: block;
    clear: both;
}

.program_guide .schedule_wrap {
    margin-bottom: 274px;
}

.program_guide .schedule_wrap dl {
    font-size: 0;
    margin-bottom: 48px;
}

.program_guide .schedule_wrap dl:last-of-type {
    margin-bottom: 227px;
}

.program_guide .schedule_wrap dt {
    display: inline-block;
    color: #e4793a;
    font-size: 30px;
    font-weight: 300;
    margin-right: 89px;
    line-height: 1.5;
    float: left;
}

.program_guide .schedule_wrap dd {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    float: left;
}

.program_guide .schedule_wrap dd span {
    font-weight: 300;
}

.program_guide .schedule_wrap dl:last-child dt {
    letter-spacing: -0.02em;
}

.program_guide .schedule_wrap dl::after {
    content: "";
    display: block;
    clear: both;
}

.program_guide .schedule_wrap li {
    width: 570px;
    float: left;
}

.program_guide .schedule_wrap li:first-of-type {
    margin-right: 30px;
}

.program_guide .schedule_wrap .sub_title {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    margin-bottom: 34px;
}

.program_guide .schedule_wrap .title {
    font-size: 35px;
    font-weight: 500;
    color: #e4793a;
    text-align: left;
    margin-bottom: 30px;
}

.program_guide .schedule_wrap .title_wrap {
    border-bottom: 1px solid #717171;
}

.program_guide .playlist_wrap {
    padding: 20px 0;
    height: 198px;
    box-sizing: border-box;
    border-bottom: 1px solid #717171;
    margin-bottom: 32px;
}

.program_guide .playlist_wrap p {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    color: #ffffff;
}

.program_guide .playlist_wrap p span {
    font-weight: 500;
}

.program_guide .schedule_wrap .text {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.83;
    color: #a6a6a6;
}

.program_guide .schedule_wrap ul::after {
    content: "";
    display: block;
    clear: both;
}

.program_guide .ticket_wrap .ticket {
    display: table;
    margin: 0 auto;
    font-size: 0;
}

.program_guide .ticket_wrap img {
    margin-right: 40px;
}

.program_guide .ticket_wrap h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    color: #ffffff;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-right: 78px;
}

.program_guide .ticket_wrap button {
    width: 318px;
    height: 90px;
    border: 0;
    border-radius: 5px;
    background-color: #e4793a;
    display: table-cell;
    vertical-align: text-bottom;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
}

/*========== 섹션5 ==========*/

.introduce {
    padding: 154px 0 192px 0;
    box-sizing: border-box;
}

.introduce .title_wrap {
    text-align: center;
    margin-bottom: 86px;
}

.introduce .sub_title {
    color: #9b9b9b;
    margin-bottom: 31px;
}

.introduce .title {
    color: #e4793a;
}

.introduce .video_wrap {
    text-align: center;
}

/*========== 섹션6 past_hanwha_classic ==========*/

.past_hanwha_classic {
    padding: 194px 0 240px 0;
    background-color: #f2f3f4;
    box-sizing: border-box;
}

.past_hanwha_classic .title_wrap {
    text-align: center;
    margin-bottom: 56px;
}

.past_hanwha_classic .sub_title {
    margin-bottom: 31px;
    color: #9b9b9b;
}

.past_hanwha_classic .title {
    width: 323px;
    display: inline-block;
}

.past_hanwha_classic .title img {
    width: 100%;
}

.past_hanwha_classic .tab_wrap {
    font-size: 0;
    text-align: center;
}

.past_hanwha_classic .tabs {
    display: inline-block;
    margin-bottom: 78px;
}

.past_hanwha_classic .tab_link {
    width: 76px;
    line-height: 54px;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #a2a2a2;
    margin: 0 2.5px;
}

.past_hanwha_classic .tab_link:hover,
.past_hanwha_classic .tab_link.active {
    background-color: #e4793a;
    color: #fff;
}

.past_hanwha_classic .tab_contents {
    position: relative;
    height: 357px;
}

.past_hanwha_classic .tab_content {
    position: absolute;
    left: 0;
    top: 0;
    height: 357px;
    display: none;
}

.past_hanwha_classic .tab_content.active {
    display: block;
}

.past_hanwha_classic .tab_content .img_wrap,
.past_hanwha_classic .tab_content .text_wrap {
    width: 570px;
    position: absolute;
}

.past_hanwha_classic .tab_content .img_wrap {
    left: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 357px;
}

.past_hanwha_classic .tab_content .text_wrap {
    box-sizing: border-box;
    left: 600px;
    bottom: 1px;

}

.past_hanwha_classic .tab_content .text_wrap h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
    color: #020100;
    text-align: left;
    margin-bottom: 54px;
}

.past_hanwha_classic .tab_content .text_wrap h2 span {
    font-size: 25px;
    font-weight: 300;
}

.past_hanwha_classic .tab_content .text_wrap p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.83;
    text-align: left;
    color: #020100;
}

/*========== 섹션7 event ==========*/

.event {
    text-align: center;
    padding: 190px 0 230px 0;
}

.event .sub_title {
    color: #9b9b9b;
    margin-bottom: 30px;
}

.event .title {
    color: #e4793a;
}

.event .title_wrap {
    margin-bottom: 130px;
}

.event .content_img {
    width: 368px;
    height: 368px;
    border-radius: 5px;
    float: left;
    margin-right: 30px;
}

.event .content1 .content_img {
    box-sizing: border-box;
    border: solid 1px #dcdcdc;
}

.event .text_wrap {
    float: left;
    text-align: left;
    font-size: 0;
}

.event .text_wrap dl {
    margin-bottom: 14px;
    font-size: 0;
}

.event .text_wrap dl:nth-of-type(3) {
    margin-bottom: 18px;
}

.event .text_wrap dl:last-of-type {
    margin-bottom: 26px;
}

.event .text_wrap dt,
.event .text_wrap dd {
    display: inline-block;
    vertical-align: top;
    line-height: 1.8;
}

.event .text_wrap dt {
    font-size: 25px;
    font-weight: 300;
    color: #e4793a;
    margin-right: 83px;
}

.event .text_wrap dl:first-of-type {
    padding-bottom: 30px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 38px;
}

.event .text_wrap dl:first-of-type dt {
    font-size: 35px;
    font-weight: 500;
    color: #e4793a;
    line-height: 1;
    margin-right: 54px;
}

.event .text_wrap dl:last-child dt {
    letter-spacing: -0.032em;
}

.event .text_wrap dd {
    font-size: 25px;
    font-weight: 300;
    color: #171616;
}

.event .text_wrap dl:first-of-type dd {
    font-size: 35px;
    font-weight: normal;
    color: #020100;
    line-height: 1;
}

.event .text_wrap span {
    font-weight: 500;
}

.event .content1 {
    margin-bottom: 130px;
}

.event .content1::after {
    content: "";
    display: block;
    clear: both;
}

.event .content1 .text_wrap button {
    width: 238px;
    line-height: 79px;
    border-radius: 5px;
    background-color: #e4793a;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    margin-left: 200px;
}

.event .content2 .text_wrap p:first-of-type {
    margin-bottom: 32px;
}

.event .content2 .text_wrap button {
    width: 278px;
    height: 79px;
    border-radius: 5px;
    background-color: #3f568e;
    font-weight: normal;
    font-size: 0;
    color: #ffffff;
}

.event .content2 .text_wrap button span {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.event .content2 .text_wrap button:first-of-type {
    margin: 0 15px 0 200px;
}

.event .content2 .text_wrap button:last-of-type {
    background-color: #ec39ab;
}

.event .content2 .text_wrap button img {
    width: 37px;
    height: 37px;
    vertical-align: middle;
    margin-right: 10px;
}

.event .content2::after {
    content: "";
    display: block;
    clear: both;
}

/*========== 푸터 ==========*/

footer {
    padding: 75px 0 428px 0;
    box-sizing: border-box;
    background-color: #020100;
}

footer ul {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

footer ul li {
    display: inline-block;
    font-size: 0;
}

footer ul li span {
    font-size: 25px;
    font-weight: normal;
    color: #f0f0f0;
    margin-right: 24px;
    vertical-align: middle;
}

footer ul li img {
    vertical-align: middle;
}

footer ul li:first-of-type::after {
    content: "";
    display: inline-block;
    clear: both;
    width: 1px;
    height: 29px;
    background-color: #676767;
    vertical-align: middle;
    margin: 0 30px;
}
